In [8]:
import pandas as pd

In [9]:
file_path = "Resources/2021.csv"
happiness_df = pd.read_csv(file_path)
happiness_df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [10]:
# Removing everything except the country and Happiness Score
happiness_df.drop(['Regional indicator', 'upperwhisker', 'lowerwhisker', 'Standard error of ladder score', 'Logged GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Ladder score in Dystopia', 'Explained by: Log GDP per capita', 'Explained by: Social support', 'Explained by: Healthy life expectancy', 'Explained by: Freedom to make life choices', 'Explained by: Generosity', 'Explained by: Perceptions of corruption', 'Dystopia + residual'], axis=1, inplace=True)
happiness_df

    Country name  Ladder score
0        Finland         7.842
1        Denmark         7.620
2    Switzerland         7.571
3        Iceland         7.554
4    Netherlands         7.464
..           ...           ...
144      Lesotho         3.512
145     Botswana         3.467
146       Rwanda         3.415
147     Zimbabwe         3.145
148  Afghanistan         2.523

[149 rows x 2 columns]

In [11]:
happiness_df.isnull().sum().sum()

0

In [12]:
happiness_df.rename(columns={'Country name':'country', 'Ladder score':'happiness_score'}, inplace=True)
happiness_df.head()

       country  happiness_score
0      Finland            7.842
1      Denmark            7.620
2  Switzerland            7.571
3      Iceland            7.554
4  Netherlands            7.464

In [13]:
happiness_df.to_csv("2021_happiness_df.csv", index=False)