In [5]:
import pandas as pd

In [6]:
file_path = "Resources/2022.csv"
happiness_df = pd.read_csv(file_path)
happiness_df.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419"

In [7]:
# Removing everything except the country and Happiness Score
happiness_df.drop(['RANK', 'Whisker-high', 'Whisker-low', 'Dystopia (1.83) + residual', 'Explained by: GDP per capita', 'Explained by: Social support', 'Explained by: Healthy life expectancy', 'Explained by: Freedom to make life choices', 'Explained by: Generosity', 'Explained by: Perceptions of corruption'], axis=1, inplace=True)
happiness_df

         Country Happiness score
0        Finland           7,821
1        Denmark           7,636
2        Iceland           7,557
3    Switzerland           7,512
4    Netherlands           7,415
..           ...             ...
142      Rwanda*           3,268
143     Zimbabwe           2,995
144      Lebanon           2,955
145  Afghanistan           2,404
146           xx             NaN

[147 rows x 2 columns]

In [12]:
# Checking for non-numerical 
happiness_df.isnull().sum().sum()

1